<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="jumbotron">
        <h1>Fair Foods at Lena Park</h1>
        <p>Use this page to reserve one or more bags of fresh produce. 
        Pick up on Tuesday afternoons at Lena Park. Each bag costs $2."</p>
    </div>
    <div>
        <form action="/order" method="post">
           Name: <input name='name' type="text">
           Number: 
            <select>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
            <input type="submit">
        </form>
    </div>
    
</body>
</html>